*{
    margin: 0;
    padding: 0;
}

.background-image {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bg-light-green {
    background-color: #D5FAFC;

}

.column-width {
    width: 70%;
}

.mt-7 {
    margin-top: 7rem;
}

.icon-ml {
    margin-left: -2.5rem;
}

/* CSS Media Query */

@media screen and (max-width: 992px) {
    .column-width {
        width: 100%;
    }
    .mt-7 {
        margin-top: 0;
    }
    .icon-ml {
        margin-left: 0;
    }
}